/* ./assets/images */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: sans-serif;
}
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, 0.2);
}
.indexPage {
	min-height: 100vh;
	background-image: url(./assets/images/login-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nav {
	display: flex;
	background-color: #090b13;
	padding: 1rem 4rem;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 8rem;
	height: auto;
}
.login__btn {
	padding: 1rem 1.5rem;
	background: none;
	font-size: 1.5rem;
	border: 0.1em solid #f9f9f9;
	color: #f9f9f9;
	border-radius: 0.2em;
	letter-spacing: 0.2em;
	cursor: pointer;
}

/* Main */

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #f9f9f9;
	letter-spacing: 0.1rem;
	width: 64rem;
}
.logo__container--top {
	width: 100%;
	height: 14rem;
	background-image: url(./assets/images/cta-logo-one.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.main__cta {
	width: 100%;
	height: 5rem;
	font-size: 1.5rem;
	border-radius: 0.2em;
	background-color: #0063e5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin: 1rem 0rem;
}
.main__cta--a {
	color: #f9f9f9;
	text-decoration: none;
}
.main__text {
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: center;
	color: #f3f3f3;
}

.logo__container--bottom {
	width: 100%;
	height: 3rem;
	margin-top: 1.5rem;
	background-image: url(./assets/images/cta-logo-two.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
	.nav {
		padding: 1rem;
	}
	.main {
		width: 30rem;
	}
	.main__cta {
		margin-top: -1rem;
	}
}
/* ///////////////////////////////////////////// */
/* MainPage */

.mainPage {
	background-color: hsla(228, 36%, 5%, 0.98);
	width: 100%;
	min-height: 100vh;
}
.carousel-container {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0rem 12rem 10rem -14rem hsla(0, 0%, 100%, 0.3);
}
.carousel-items {
	display: flex;

	margin-top: 2rem;
	width: 100%;
	transition: transform 300ms ease-in-out;
}

.carousel-items img {
	margin: 0rem 0.4rem;
	min-width: 90%;
	border: 0.5rem solid hsla(228, 36%, 5%, 0.1);
	box-shadow: 0rem 2rem 3rem black, 0rem 0rem 10rem -5rem white;
}
.prevBtn,
.nextBtn {
	position: absolute;
	color: white;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: clamp(2rem, 1.5vw, 4rem);
	cursor: pointer;
}

.prevBtn {
	left: 3%;
}

.nextBtn {
	right: 3%;
}

.dot-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.dot:not(:first-child),
.dot:not(:last-child) {
	margin: 0rem 0.8rem;
}

.dot {
	width: 1rem;
	min-height: 1rem;
	border-radius: 50%;
	background-color: hsla(0, 0%, 100%, 0.5);
}

.container {
	padding: 2.4rem 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.company-container {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 2.4rem;
}
.company-container .item {
	width: fit-content;
	border: 0.4rem solid hsla(0, 0%, 100%, 0.2);
	box-shadow: 0rem 3rem 8rem -2rem black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.2rem;
	cursor: pointer;
	transition: transform 200ms ease-in-out;
}
.company-container .item img {
	width: 90%;
	height: auto;
}

.section-title {
	font-size: 3rem;
	color: white;
	margin-right: auto;
	margin-bottom: 2rem;
}

.show-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 3rem;
}

.show-container .item {
	width: fit-content;
	padding: 0rem;
	border: 0.4rem solid hsla(0, 0%, 100%, 0.2);
	overflow: hidden;
	box-shadow: 0rem 3rem 8rem -2rem black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.2rem;
	cursor: pointer;
	transition: transform 200ms ease-in-out;
}

.show-container .item:hover,
.company-container .item:hover {
	transform: translateY(-5%);
}

.show-container .item img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 800px) {
	.container {
		padding: 1.2rem;
	}
	.company-container {
		grid-template-columns: auto;
	}
	.section-title {
		font-size: 2rem;
	}
	.show-container {
		grid-template-columns: repeat(2, auto);
		gap: 1rem;
	}
}
